.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 70px;
    border: 1px solid #007EDB;
    margin-top: 30px;
    padding: 30px;
    color: #737780;
}

.btn:hover {
    background-color: rgba(0, 126, 219, 0.08);
    cursor: pointer;
    color: #007EDB;
}

.btn span {
    font-weight: 700;
    font-size: 16px;
    color: #007EDB;
}

.btn p {
    font-weight: 500;
    font-size: 14px;

}

.btn[isActive='active'] {
    background-color: #007EDB;
}

.btn[isActive='active']:hover {
    background-color: rgba(0, 126, 219, 0.8);
}

.btn[isActive='active'] span {
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}

.btn[isActive='active'] p {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}

.btn p {
    margin: 10px 0 0 0;
}
